.container-rest-cuatro {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  height: 844px;
  position: relative;
}

.area-1 {
  background: var(--fondos-fondo-blanco, #ffffff);
  border-radius: 0px 0px 24px 24px;
  padding: 40px 36px 40px 36px;
  display: flex;
  flex-direction: row;
  width: 100%;
  row-gap: 36px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  height: 200px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.flecha-navigate-rest {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}

.titulo-rest-cuatro {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.texto-rest-cuatro {
  color: var(--textos-negro-texto, #000022);
  text-align: center;
  font-family: var(--medium-font-family, "Inter-Medium", sans-serif);
  font-size: var(--medium-font-size, 22px);
  line-height: var(--medium-line-height, 110%);
  font-weight: var(--medium-font-weight, 500);
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.rest-logo-cuatro {
  margin: 0 0 0 -23px;
  padding: 32px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  height: 120px;
  position: relative;
}


.area-2 {
  display: flex;
  width: 342px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.container-carpetas-rest {
  display: flex;
  width: 342px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.icono-rest {
  padding: 0px 4px 0px 4px;
  display: flex;
  flex-direction: row;
  gap: 132px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 236px;
  height: 32px;
  position: relative;
  overflow: hidden;
}

.lote-rest-cuatro {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: 32px;
  position: relative;
}

.container-carpeta-ind {
  display: flex;
  width: 342px;
  height: 64px;
  align-items: center;
  padding: 16px;
  gap: 16px;
  border-radius: 20px;
background: var(--Fondos-Fondo-Blanco, #FFF);
}

.icono-rest {
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-shrink: 0;
  height: 64px;
  position: relative;
}

.titulo2-rest-cuatro {
  color: var(--textos-negro-texto, #000022);
  text-align: left;
  font-family: var(--header-header-s-font-family, "Inter-Medium", sans-serif);
  font-size: var(--header-header-s-font-size, 18px);
  line-height: var(--header-header-s-line-height, 110%);
  font-weight: var(--header-header-s-font-weight, 500);
  position: relative;
  width: 341px;
}

.cod-lote-rest-cuatro {
  width: 72px;
height: 16px;
flex-shrink: 0;
color: var(--Textos-Negro-texto, #002);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 130%;
}

.cont-lote-rest-cuatro {
  width: 72px;
height: 12px;
flex-shrink: 0;
color: var(--Textos-Negro-texto, #002);
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 130%; 
}

.chbox-rest-cuatro {
  appearance: none;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  border-radius: 50%;
  border-color: #B2C75B;
}

.chbox-checkbox:checked {
  border: 2px solid #DFF37C;
  background-color: white;
}

.chbox-rest-cuatro:checked::before {
  content: ''; 
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px; 
  height: 24px; 
  background-color: #DFF37C; 
  border-radius: 50%; 
  transform: translate(-50%, -50%); 
}

.chbox-rest-cuatro:checked::after {
  content: ''; 
  position: absolute;
  top: 0.1rem;
  left: 0.45rem;
  width: 6px;
  height: 12px;
  border: solid black; 
  border-width: 0 0.2rem 0.2rem 0; 
  transform: rotate(45deg); 
}




