*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.fondo{
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    height: 100vh;
}

.nav-sup{
    background-color: white;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .nav-sup-titulo{
        font-family: Inter;
        font-size: 16.56px;
        font-weight: 700;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: white;
    }

    .ant-input-search{
        width: 339px;
        height: 40px;
        border-radius: 8px 0px 0px 0px;
    }

    .ant-input, .ant-btn{
        background-color: #ECEEF3;
        color: #ECEEF3;
    }
}

.pantalla-inf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 10px;

    .pantalla-inf-titulo{
        font-family: "Inter";
        width: 80%;
        font-size: 20px;
        margin-left: -35px;
    }

    .pantalla-inf-botones{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 10px;
        height: 85%;

        .pantalla-inf-boton{
            width: 161px;
            height: 144px;
            padding: 16px;
            border-radius: 24px;
            margin-top: 10px;
            position: relative;

            .icono1-inf-boton{
                top: 20px; 
                left: 20px;
                position: absolute;
            }
            .icono2-inf-boton{
                top: 20px; 
                right: 20px;
                position: absolute;
            }
            .icono3-inf-boton{    
                bottom: 20px; 
                left: 20px;
                position: absolute;
                text-align: center;
                color: #000022;
                font-family: "Inter";
                font-weight: 500;
                font-size: 19px;
                margin-bottom: 5px;
            }
            .tb{
                color: white;
            }
            .icono4-inf-boton{
                bottom: 20px; 
                right: 20px;
                position: absolute;
            }
        
        }
        .registrar{
            background-color: #EE5E37;
        }
        .master{
            background-color: #4558C8;
        }
        .almacen{
            background-color: #DE9CFD;
        }
        .restaurar{
            background-color: #DFF37C;
        }
        .digitalizar{
            background-color: #23967F;
        }
        .entregar{
            background-color: #FFB17A;
        }

    
    }
}
/* Fondo borroso cuando el modal está abierto */
.blur-background {
    filter: blur(4px);
  }
  
  /* Overlay oscuro semi-transparente */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Opacidad */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Contenido del modal */
  .modal-content {
    background: white;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  /* Input */
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Botones */
  .modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .cancelar {
    background-color: #ff4d4d;
    color: white;
  }
  
  .confirmar {
    background-color: #4CAF50;
    color: white;
  }