* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

main {
  display: flex;
  flex-direction: column;
}


//PRIMER FOLD 
.informacion-primer-fold,
.informacion-primer-fold * {
  box-sizing: border-box;
}

.informacion-primer-fold {
  width: 100%;
  object-fit: cover;
  background-color: #212122;
  display: flex;
  flex-direction: column;
  gap: 318px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 100%;
  overflow: hidden;
  position: relative;
  padding-left: 5%;

  .image-container {
    max-width: 55%;
    box-sizing: border-box;
    position: absolute;
    left: 20%;
    display: flex;
    justify-content: flex-end;

    img {
      width: 100%;
      flex-shrink: 0;
      height: 100%;
      object-fit: cover;
    }
  }

  .foto {
    z-index: 2;
    z-index: 2;
    height: 20%;
    width: auto;
    object-fit: cover;
    object-position: top;
  }
}

.section-text {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 2085px;
  position: relative;

}

.headline {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 100%;
  position: relative;
  margin-top: 20px;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 100%;
}

.facultad-de-bellas-artes {
  color: var(--new-folder-principal, #e94f37);
  text-align: left;
  margin-top: 100px;
  font-family: var(--upper-subtitulo-font-family, "Inter-Bold", sans-serif);
  font-size: var(--upper-subtitulo-font-size, 20px);
  line-height: var(--upper-subtitulo-line-height, 0%);
  font-weight: var(--upper-subtitulo-font-weight, 700);
  position: relative;
  align-self: stretch;
}

.salvem-les-fotos-titulo {
  color: var(--new-folder-blanco-roto, #f5f5f5);
  text-align: left;
  font-family: var(--h1-font-family, "Inter-Bold", sans-serif);
  font-size: var(--h1-font-size, 60px);
  line-height: var(--h1-line-height, 110%);
  font-weight: var(--h1-font-weight, 700);
  position: relative;
  align-self: stretch;
}

.paragraph {
  color: var(--new-folder-blanco-roto, #f5f5f5);
  text-align: left;
  font-family: var(--h3-font-family, "Inter-Medium", sans-serif);
  font-size: var(--h3-font-size, 24px);
  font-weight: var(--h3-font-weight, 500);
  position: relative;
  align-self: stretch;
  z-index: 9;
  width: 31%;
}

.secondary-btn {
  background: var(--new-folder-principal, #e94f37);
  border-radius: 24px;
  padding: 16px 24px 16px 24px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 40px;
  position: relative;
}

.btn-text {
  color: var(--new-folder-blanco-roto, #f5f5f5);
  text-align: center;
  font-family: var(--body-14-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-14-font-size, 14px);
  line-height: var(--body-14-line-height, 24px);
  font-weight: var(--body-14-font-weight, 400);
  position: relative;
}

.datos {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: space-around;
  align-self: stretch;
  flex-shrink: 0;
  height: 124px;
  position: relative;
  margin-bottom: 96px;
}

.lbumes {
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

._1-800 {
  color: var(--new-folder-principal, #e94f37);
  text-align: center;
  font-family: var(--display-1-font-family, "Inter-Bold", sans-serif);
  font-size: var(--display-1-font-size, 64px);
  line-height: var(--display-1-line-height, 110%);
  letter-spacing: var(--display-1-letter-spacing, -0.06em);
  font-weight: var(--display-1-font-weight, 700);
  position: relative;
  width: 162px;
}

.paragraph2 {
  color: var(--new-folder-blanco-roto, #f5f5f5);
  text-align: center;
  font-family: var(--body-16-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-16-font-size, 16px);
  font-weight: var(--body-16-font-weight, 500);
  position: relative;
}

.fotograf-a {
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

._230-000 {
  color: var(--new-folder-principal, #e94f37);
  text-align: center;
  font-family: var(--display-1-font-family, "Inter-Bold", sans-serif);
  font-size: var(--display-1-font-size, 64px);
  line-height: var(--display-1-line-height, 110%);
  letter-spacing: var(--display-1-letter-spacing, -0.06em);
  font-weight: var(--display-1-font-weight, 700);
  position: relative;
  width: 252px;
}

.intervenciones {
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 207px;
  position: relative;
}

._15-000 {
  color: var(--new-folder-principal, #e94f37);
  text-align: center;
  font-family: var(--display-1-font-family, "Inter-Bold", sans-serif);
  font-size: var(--display-1-font-size, 64px);
  line-height: var(--display-1-line-height, 110%);
  letter-spacing: var(--display-1-letter-spacing, -0.06em);
  font-weight: var(--display-1-font-weight, 700);
  position: relative;
  width: 202px;
}

.paragraph3 {
  color: var(--new-folder-blanco-roto, #f5f5f5);
  text-align: center;
  font-family: var(--body-16-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-16-font-size, 16px);
  font-weight: var(--body-16-font-weight, 500);
  position: relative;
  width: 175px;
}

.voluntarios {
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 174px;
  position: relative;
}

._130 {
  color: var(--new-folder-principal, #e94f37);
  text-align: center;
  font-family: var(--display-1-font-family, "Inter-Bold", sans-serif);
  font-size: var(--display-1-font-size, 64px);
  line-height: var(--display-1-line-height, 110%);
  letter-spacing: var(--display-1-letter-spacing, -0.06em);
  font-weight: var(--display-1-font-weight, 700);
  position: relative;
  width: 110px;
}

//NAVBAR
.nav-top-bar-desktop,
.nav-top-bar-desktop * {
  box-sizing: border-box;
}

.navbar-top {
  background: var(--principal, #e94f37);
  padding: 0px 80px 0px 80px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 56px;
  position: relative;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
}

.recordar-del-lat-n-recordis-volver-a-pasar-por-el-coraz-n {
  color: var(--blanco-roto, #f5f5f5);
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}

.recordar-del-lat-n-recordis-volver-a-pasar-por-el-coraz-n-span {
  color: var(--blanco-roto, #f5f5f5);
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.recordar-del-lat-n-recordis-volver-a-pasar-por-el-coraz-n-span2 {
  color: var(--blanco-roto, #f5f5f5);
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.recordar-del-lat-n-recordis-volver-a-pasar-por-el-coraz-n-span3 {
  color: var(--blanco-roto, #f5f5f5);
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.recordar-del-lat-n-recordis-volver-a-pasar-por-el-coraz-n-span4 {
  color: var(--blanco-roto, #f5f5f5);
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-style: italic;
}

.recordar-del-lat-n-recordis-volver-a-pasar-por-el-coraz-n-span5 {
  color: var(--blanco-roto, #f5f5f5);
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.recordar-del-lat-n-recordis-volver-a-pasar-por-el-coraz-n-span6 {
  color: var(--blanco-roto, #f5f5f5);
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.nuestro-proceso,
.nuestro-proceso * {
  box-sizing: border-box;
}

.nuestro-proceso {
  padding: 96px 24px;
  display: flex;
  flex-direction: column;
  gap: 56px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.titulo-nuestroproceso {
  color: var(--new-folder-gris-oscuro, #26292b);
  font-family: var(--h1-font-family, "Inter-Bold", sans-serif);
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
}

.parrafo-nuestroproceso {
  color: var(--new-folder-gris-oscuro, #26292b);
  font-family: var(--h3-font-family, "Inter-Medium", sans-serif);
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: 500;
}

.proceso {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  padding: 16px;
  width: 200px;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.frame:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.icon {
  font-size: 38px;
  color: black;
  stroke-width: 2px;
}

.frame-title {
  color: #26292b;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  text-transform: capitalize; /* Hace que la primera letra de cada palabra esté en mayúscula */
  
}

.frame-text {
  color: #26292b;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  margin: 0;
}

.seccion-imagenes-ayd {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 80px 16px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: none;
}

.imagen-con-descripcion {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  max-width: 400px;
}

.imagen-con-descripcion img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.imagen-con-descripcion p {
  color: var(--gris-oscuro, #26292b);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  margin: 0;
}

@media (max-width: 768px) {
  .nuestro-proceso {
    padding: 48px 16px;
  }

  .titulo-nuestroproceso {
    font-size: 1.75rem;
  }

  .parrafo-nuestroproceso {
    font-size: 1rem;
  }

  .proceso {
    flex-direction: column;
    gap: 16px;
  }

  .frame {
    width: 100%;
    max-width: 300px;
  }

  .seccion-imagenes-ayd {
    flex-direction: column;
    gap: 16px;
  }

  .imagen-con-descripcion {
    max-width: 100%;
  }
}

//MENSAJE 
.mensaje {
  background:
    linear-gradient(to left,
      rgba(38, 41, 43, 0.6),
      rgba(38, 41, 43, 0.6)),
    url('../../assets/imagenes/RECUPERAR\ LAS\ MEMORIAS.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0px 80px 0px 80px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 400px;
  position: relative;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
}


.parrafo {
  color: var(--blanco-roto, #f5f5f5);
  text-align: center;
  font-family: var(--display-2-font-family, "Inter-Bold", sans-serif);
  font-size: 50px;
  line-height: 110px;
  font-weight: var(--display-2-font-weight, 700);
  position: relative;
  width: 100%;
}

.firma {
  color: var(--blanco-roto, #f5f5f5);
  text-align: center;
  font-family: var(--italic-16-font-family, "Inter-Italic", sans-serif);
  font-size: var(--italic-20-font-size, 35px);
  line-height: var(--italic-16-line-height, 30px);
  font-weight: var(--italic-16-font-weight, 300);
  font-style: var(--italic-16-font-style, italic);
  position: relative;
  width: 1134px;
}

//NUESTRA HISTORIA 
.nuestra-historia {
  margin-bottom: 100px;
  padding: 120px 144px 96px 144px;
  display: flex;
  flex-direction: column;
  gap: 88px;
  justify-content: center;
  position: relative;

  * {
    box-sizing: border-box;
  }

  .contenedor-historia {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-self: stretch;
    align-items: center;

  }

  .primer-bloque-nuestrahistoria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 56px;


    .texto-historia {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 573px;

      .titulo-historia {
        color: #26292b;
        text-align: left;
        font-family: "Inter-Bold", sans-serif;
        font-size: 65px;
        line-height: 110%;
        font-weight: 700;
      }

      .subtitulo-historia {
        color: #26292b;
        font-family: "Inter-Medium", sans-serif;
        font-size: 24px;
        font-weight: 500;
        max-width: 35rem;
      }

      .parrafo-historia {
        color: #26292b;
        font-family: "Inter-Medium", sans-serif;
        font-size: 22px;
        font-weight: 500;
        max-width: 35rem;
      }
    }

    .imagen-historia {
      flex-shrink: 0;
      width: 521px;
      height: 370px;
      object-fit: cover;
    }
  }

  .segundo-bloque {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 102px;

    .imagen-historia {
      flex-shrink: 0;
      width: 524px;
      height: 450px;
      object-fit: cover;
    }

    .parrafo-historia2 {
      color: #26292b;
      font-family: "Inter-Medium", sans-serif;
      font-size: 22px;
      font-weight: 500;
      max-width: 35rem;
    }
  }
}

//PREGUNTAS FRECUENTES 

.faqs-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Inter", sans-serif;
  color: #26292b;
}

.faqs {
  flex: 1;
}

.faqs-header {
  margin-bottom: 20px;
}

.faqs-subtitle {
  font-size: 1rem;
  font-weight: bold;
  color: #f05a28;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.faqs-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

.faqs-content {
  margin-top: 20px;
}

.faq-item {
  border-top: 1px solid #f05a28;
  padding: 10px 0;
}

.faq-toggle {
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: #26292b;
  transition: color 0.3s;
}

.faq-toggle:hover {
  color: #f05a28;
}

.faq-icon {
  font-size: 1.5rem;
  font-weight: bold;
  color: #26292b;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

.faq-answer {
  padding: 10px;
  margin-top: 10px;
  display: block; 
}


.faq-item.active .faq-answer {
  display: block;
}

.faq-item.active .faq-icon {
  content: "-"; 
  transform: rotate(0deg); 
}

.faqs-image-container {
  flex: 0.5;
}

.faqs-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}



.imgpf {
  flex: 1 1 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
}

//UBICACION .encu-ntranos,
.encu-ntranos,
.encu-ntranos * {
  box-sizing: border-box;
}
.encu-ntranos {
  background: var(--new-folder-gris-oscuro, #26292b);
  padding: 80px 144px 80px 144px;
  display: flex;
  flex-direction: column;
  gap: 93px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
}
.frame-80 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 614px;
  position: relative;
  flex-grow: 1;
  gap: 10px; 
  margin-bottom: 150px;
}
.tituloLanding {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  margin-bottom: 50px
}
.headline {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.salvem-les-fotos {
  color: var(--new-folder-blanco-roto, #f5f5f5);
  text-align: left;
  font-family: var(--h1-font-family, "Inter-Bold", sans-serif);
  font-size: var(--h1-font-size, 60px);
  line-height: var(--h1-line-height, 110%);
  font-weight: var(--h1-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.parrafo-encuentranos {
  color: var(--new-folder-blanco-roto, #f5f5f5);
  text-align: left;
  font-family: var(--h3-font-family, "Inter-Medium", sans-serif);
  font-size: var(--h3-font-size, 24px);
  font-weight: var(--h3-font-weight, 500);
  position: relative;
  align-self: stretch;
  margin-bottom: 20px; /* Agregar un margen inferior si el texto está pegado a otros elementos */
  z-index: 1; /* Asegúrate de que el contenido esté por encima de otros elementos */
  visibility: visible;
}
.frame-78 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  gap: 30px;
}
.screenshot-2025-01-20-182312-1 {
  flex-shrink: 0;
  width: 100%;
  height: 460px;
  position: relative;
  object-fit: cover;
}

.frame-73 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 513px;
  position: relative;
  margin-left: auto;
}
.frame-68 {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icono {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
  fill:#e0e0e0;
}
.salvem-les-fotos2 {
  color: var(--new-folder-blanco-roto, #f5f5f5);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  width: 457px;
}
.frame-69 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icono2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
  fill:#e0e0e0;
}
.salvem-les-fotos3 {
  color: var(--new-folder-blanco-roto, #f5f5f5);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  width: 513px;
}
.frame-70 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icono3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
  fill:#e0e0e0;
}
.frame-72 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icono4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
  fill:#e0e0e0;
}
.frame-71 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.vector {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
  fill:#e0e0e0;
}
.salvem-les-fotos4 {
  color: var(--new-folder-blanco-roto, #f5f5f5);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  width: 462px;
}
.frame-79 {
  display: flex;
  flex-direction: column;
  gap: 46px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.vector-1 {
  flex-shrink: 0;
  width: 1150px;
  height: 0px;
  position: relative;
  overflow: visible;
}
.frame-77 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.cookies {
  color: var(--new-folder-blanco-roto, #f5f5f5);
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 16px;
  line-height: 110%;
  font-weight: 700;
  position: relative;
}
.aviso-legal {
  color: var(--new-folder-blanco-roto, #f5f5f5);
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 16px;
  line-height: 110%;
  font-weight: 700;
  position: relative;
}
.pol-tica-de-privacidad {
  color: var(--new-folder-blanco-roto, #f5f5f5);
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 16px;
  line-height: 110%;
  font-weight: 700;
  position: relative;
}
.contacto {
  color: var(--new-folder-blanco-roto, #f5f5f5);
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 16px;
  line-height: 110%;
  font-weight: 700;
  position: relative;
}

