*{
  box-sizing: border-box;
}

.container-almacenaje {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  height: 844px;
  position: relative;
}

.tramo-1 {
  background: var(--fondos-fondo-blanco, #ffffff);
  border-radius: 0px 0px 24px 24px;
  padding: 40px 36px 40px 36px;
  width: 100%;
  display: flex;
  flex-direction: row;
  row-gap: 36px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  height: 200px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 24px 24px;
background: var(--Fondos-Fondo-Blanco, #FFF);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.almacen-1 {
  margin: 0 0 0 -23px;
  padding: 32px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  height: 120px;
  position: relative;
}

.titulo-almacen {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.flecha-navigate {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
  display: flex;
  
}

.almacen-texto {
  color: var(--textos-negro-texto, #000022);
  text-align: center;
  font-family: var(--medium-font-family, "Inter-Medium", sans-serif);
  font-size: var(--medium-font-size, 22px);
  line-height: var(--medium-line-height, 110%);
  font-weight: var(--medium-font-weight, 500);
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.tramo-2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.container-pendientes {
  padding: 0px 4px 0px 4px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 312px;
  position: relative;
  overflow: hidden;
  
}

.codigo-lote {
  display: flex;
  flex-direction: column;
}

.font-lote {
  color: var(--textos-negro-texto, #000022);
  text-align: left;
  font-family: var(
    --body-semibold-body-semi-bold-m-font-family,
    "Inter-Medium",
    sans-serif
  );
  font-size: var(--body-semibold-body-semi-bold-m-font-size, 16px);
  line-height: var(--body-semibold-body-semi-bold-m-line-height, 130%);
  font-weight: var(--body-semibold-body-semi-bold-m-font-weight, 500);
  position: relative;
  width: 72px;
  height: 16px;
}
.font-contenido-lote {
  color: var(--textos-negro-texto, #000022);
  text-align: left;
  font-family: var(
    --body-regular-body-regular-xs-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--body-regular-body-regular-xs-font-size, 12px);
  line-height: var(--body-regular-body-regular-xs-line-height, 130%);
  font-weight: var(--body-regular-body-regular-xs-font-weight, 400);
  position: relative;
  width: 72px;
  height: 12px;
}

.flecha-pendientes {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
  left: 6em;
}

.pendiente-almacenar {
    background: var(--fondos-fondo-blanco, #ffffff);
  border-radius: 20px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 64px;
  position: relative;
  overflow: hidden;
}

.titulo-pendiente {
  color: var(--Textos-Negro-texto, #002);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 26px */
}

.titulo-ubicado-almacen {
  color: var(--Textos-Negro-texto, #002);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 26px */
}

.tramo-3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.ubicado-almacenar {
  background: var(--fondos-fondo-blanco, #ffffff);
  border-radius: 20px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 64px;
  position: relative;
  overflow: hidden;
}

.container-ubicado-almacen {
  padding: 0px 4px 0px 4px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 312px;
  position: relative;
  overflow: hidden;
}

.container-azul{
  display: flex;
}

.navegador-almacen {
  border-radius: 8px;
background: var(--Fondos-Fondo-2, #F5F5F5);
}
