.lotes-admin,
.lotes-admin * {
  box-sizing: border-box;
}
.lotes-admin {
  background: var(--fondos-fondo-2, #f5f5f5);
  height: 1117px;
  position: relative;
  overflow: hidden;
}
.administracion-menu {
  background: var(--fondos-fondo, #f7f8fa);
  width: 272px;
  height: 1117px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.secci-n-salir-default {
  background: var(--fondos-fondo-blanco, #ffffff);
  padding: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 272px;
  height: 72px;
  position: absolute;
  left: 0px;
  top: 1045px;
  overflow: hidden;
}
.frame-427319459 {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.icono {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.cerrar-sesi-n {
  color: var(--textos-negro-texto, #000022);
  text-align: center;
  font-family: var(
    --body-regular-body-regular-m-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--body-regular-body-regular-m-font-size, 16px);
  font-weight: var(--body-regular-body-regular-m-font-weight, 400);
  position: relative;
}
.frame-427319589 {
  display: flex;
  flex-direction: column;
  gap: 54px;
  align-items: center;
  justify-content: flex-start;
  width: 272px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 140px;
}
.frame-427319591 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 246px;
  position: relative;
}
.divisor-menu {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 272px;
  position: relative;
}
.line-1 {
  margin-top: -1px;
  border-style: solid;
  border-color: var(--textos-negro-texto, #000022);
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 64px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.administrador {
  color: var(--textos-negro-texto, #000022);
  text-align: left;
  font-family: var(
    --body-regular-body-regular-xs-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--body-regular-body-regular-xs-font-size, 12px);
  line-height: var(--body-regular-body-regular-xs-line-height, 130%);
  font-weight: var(--body-regular-body-regular-xs-font-weight, 400);
  position: relative;
}
.line-2 {
  margin-top: -1px;
  border-style: solid;
  border-color: var(--textos-negro-texto, #000022);
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 64px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.frame-427319467 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.component-64 {
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 248px;
  position: relative;
  overflow: hidden;
}
.frame-427319616 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-4273194592 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 160px;
  height: 24px;
  position: relative;
}
.icono2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.group {
  width: 100%;
  height: 99.94%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0.03%;
  top: 0.03%;
  overflow: visible;
}
.inicio {
  color: var(--textos-texto-gris, #9d9d9d);
  text-align: left;
  font-family: var(
    --body-semibold-body-medium-m-font-family,
    "Inter-Medium",
    sans-serif
  );
  font-size: var(--body-semibold-body-medium-m-font-size, 16px);
  line-height: var(--body-semibold-body-medium-m-line-height, 130%);
  font-weight: var(--body-semibold-body-medium-m-font-weight, 500);
  position: relative;
  flex: 1;
  height: 20px;
}
.icono3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.component-66 {
  background: var(--fondos-fondo-blanco, #ffffff);
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 248px;
  position: relative;
  overflow: hidden;
}
.folder-open-outlined {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.inicio2 {
  color: var(--textos-negro-texto, #000022);
  text-align: left;
  font-family: var(
    --body-semibold-body-medium-m-font-family,
    "Inter-Medium",
    sans-serif
  );
  font-size: var(--body-semibold-body-medium-m-font-size, 16px);
  line-height: var(--body-semibold-body-medium-m-line-height, 130%);
  font-weight: var(--body-semibold-body-medium-m-font-weight, 500);
  position: relative;
  flex: 1;
  height: 20px;
}
.icono4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.component-65 {
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 248px;
  position: relative;
  overflow: hidden;
}
.group2 {
  width: 75%;
  height: 100%;
  position: absolute;
  right: 12.5%;
  left: 12.5%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.icono5 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-4273195892 {
  display: flex;
  flex-direction: column;
  gap: 54px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 272px;
  position: relative;
}
.frame-427319590 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 272px;
  position: relative;
}
.component-63 {
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.frame-4273196162 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 184px;
  position: relative;
}
.icono6 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.inicio-button {
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 248px;
  position: relative;
  overflow: hidden;
}
.fi-sr-picture {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.icono7 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.component-652 {
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.fi-sr-box {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.inicio3 {
  color: var(--textos-negro-texto, #000022);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 500;
  position: relative;
  flex: 1;
  height: 20px;
}
.component-662 {
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.fi-sr-broom {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.fi-sr-mode-landscape {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.icono8 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.component-68 {
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.fi-sr-paper-plane {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: hidden;
}
.group3 {
  width: 99.98%;
  height: 100%;
  position: absolute;
  right: 0.01%;
  left: 0.01%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.logos {
  display: flex;
  flex-direction: row;
  gap: 3.92px;
  align-items: center;
  justify-content: flex-start;
  width: 91px;
  height: 56px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 59px;
}
.salvem-les-fotos {
  color: var(--textos-negro-texto, #000022);
  text-align: center;
  position: relative;
  width: 90.82px;
  height: 76.48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.salvem-les-fotos-span {
  color: var(--textos-negro-texto, #000022);
  font-family: "Inter-Bold", sans-serif;
  font-size: 21.823793411254883px;
  line-height: 0%;
  font-weight: 700;
}
.salvem-les-fotos-span2 {
  color: var(--textos-negro-texto, #000022);
  font-family: "Inter-Bold", sans-serif;
  font-size: 16.555980682373047px;
  line-height: 42%;
  font-weight: 700;
}
.frame-427319628 {
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1417px;
  position: absolute;
  left: 278px;
  top: 72px;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.auto-layout-horizontal {
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 48px;
  position: relative;
}
.component-53 {
  background: var(--fondos-fondo-blanco, #ffffff);
  border-radius: 8px;
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 856px;
  height: 48px;
  position: relative;
}
.placeholder {
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.placeholder2 {
  color: var(--textos-texto-gris, #9d9d9d);
  text-align: left;
  font-family: var(
    --body-regular-body-regular-s-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--body-regular-body-regular-s-font-size, 14px);
  line-height: var(--body-regular-body-regular-s-line-height, 130%);
  font-weight: var(--body-regular-body-regular-s-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.search-outlined {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.auto-layout-horizontal2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 226px;
  position: relative;
}
.auto-layout-horizontal3 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.component-70 {
  background: var(--fondos-fondo-blanco, #ffffff);
  border-radius: 138.46px;
  border-style: solid;
  border-color: var(--textos-negro-texto, #000022);
  border-width: 0.5px;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: relative;
  overflow: hidden;
}
.frame-427319640 {
  width: 42.69px;
  height: 40.62px;
  position: absolute;
  left: -2.85px;
  top: 7.38px;
}
.oc-on-the-laptop {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 5.05%;
  left: -5.05%;
  bottom: 0.94%;
  top: -0.93%;
  overflow: visible;
}
.dario-rodriguez {
  color: var(--textos-texto-gris-oscuro, #555555);
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.fi-rr-exclamation {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.frame-427319627 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.secci-n-lotes {
  background: var(--fondos-fondo, #f7f8fa);
  border-radius: 15px;
  padding: 0px 0px 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 290px;
  height: 903px;
  position: relative;
  overflow: hidden;
}

//TRACKING

.columna-auto-digitalizacion,
.columna-auto-digitalizacion * {
  box-sizing: border-box;
}
.columna-auto-digitalizacion {
  padding: 0px 8px 0px 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.folder-principales {
  border-radius: 24px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 244px;
  height: 64px;
  position: relative;
  overflow: hidden;
}
.alarm-details {
  padding: 0px 2px 0px 2px;
  display: flex;
  flex-direction: row;
  gap: 132px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 32px;
  position: relative;
  overflow: hidden;
}
.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  position: relative;
}
.frame-39955 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 16px;
  position: relative;
}
.m-ster {
  color: var(--textos-texto-gris-oscuro, #555555);
  text-align: center;
  font-family: var(
    --body-semibold-body-medium-m-font-family,
    "Inter-Medium",
    sans-serif
  );
  font-size: var(--body-semibold-body-medium-m-font-size, 16px);
  line-height: var(--body-semibold-body-medium-m-line-height, 130%);
  font-weight: var(--body-semibold-body-medium-m-font-weight, 500);
  position: relative;
}
.icono {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icono2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icono3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icono4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.folder-principales2 {
  border-radius: 24px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 244px;
  position: relative;
  overflow: hidden;
}
.icono5 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icono6 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icono7 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
