.home,
.home * {
  box-sizing: border-box;
}
.homeUbicacionAlmacen {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  height: 844px;
  position: relative;
}
.logo {
  background: var(--fondos-fondo-blanco, #ffffff);
  border-radius: 0px 0px 24px 24px;
  padding: 40px 36px 40px 36px;
  display: flex;
  flex-direction: row;
  row-gap: 36px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  width: 390px;
  height: 200px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
.vector {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-427319580 {
  margin: 0 0 0 -23px;
  padding: 32px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  position: relative;
}
.frame-427319550 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icono {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.fi-sr-box {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.almac-n {
  color: var(--textos-negro-texto, #000022);
  text-align: left;
  font-family: var(--medium-font-family, "Inter-Medium", sans-serif);
  font-size: var(--medium-font-size, 22px);
  line-height: var(--medium-line-height, 110%);
  font-weight: var(--medium-font-weight, 500);
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-427319552 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._0012-ft {
  color: var(--textos-negro-texto, #000022);
  text-align: center;
  font-family: var(--header-header-l-font-family, "Inter-Bold", sans-serif);
  font-size: var(--header-header-l-font-size, 26px);
  line-height: var(--header-header-l-line-height, 110%);
  font-weight: var(--header-header-l-font-weight, 700);
  position: relative;
}
._3-lbumes-40-fotos-y-1-marco {
  color: var(--textos-negro-texto, #000022);
  text-align: center;
  font-family: var(
    --body-regular-body-regular-xs-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--body-regular-body-regular-xs-font-size, 12px);
  line-height: var(--body-regular-body-regular-xs-line-height, 130%);
  font-weight: var(--body-regular-body-regular-xs-font-weight, 400);
  position: relative;
  width: 228px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.frame-427319553Almacen {
  display: flex;
  flex-direction: column;
  gap: 144px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-427319592 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-427319548 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.est-ubicado {
  color: var(--textos-negro-texto, #000022);
  text-align: left;
  font-family: var(--header-header-s-font-family, "Inter-Medium", sans-serif);
  font-size: var(--header-header-s-font-size, 18px);
  line-height: var(--header-header-s-line-height, 110%);
  font-weight: var(--header-header-s-font-weight, 500);
  position: relative;
  width: 341px;
}
.frame-427319538 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 342px;
  position: relative;
}
.frame-427319539 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.dropdown {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.boton {
  background: var(--inavilitados-grises-gis-fill-bloqueado, #e8e8e8);
  border-radius: 8px;
  border-style: solid;
  border-color: var(--inavilitados-gris-stroke, #d9d9d9);
  border-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 302px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.wrapper {
  border-radius: 8px;
  padding: 4px 12px 4px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.text {
  padding: 1px 0px 1px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.placeholder {
  color: var(--inavilitados-grises-texto-gris-claro, #b1b2b6);
  text-align: left;
  font-family: var(
    --body-regular-body-regular-s-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--body-regular-body-regular-s-font-size, 14px);
  line-height: var(--body-regular-body-regular-s-line-height, 130%);
  font-weight: var(--body-regular-body-regular-s-font-weight, 400);
  position: relative;
}
.vector2 {
  flex-shrink: 0;
  width: 12px;
  height: 6.75px;
  position: relative;
  overflow: visible;
}
.frame-427319535-datos {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 342px;
  position: relative;
}
._01 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.wrapper2 {
  background: var(--fondos-fondo-blanco, #ffffff);
  border-radius: 8px;
  border-style: solid;
  border-color: var(--inavilitados-gris-stroke, #d9d9d9);
  border-width: 1px;
  padding: 4px 12px 4px 12px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 56px;
  height: 32px;
  position: relative;
}
.input {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  position: relative;
  overflow: hidden;
}
._3 {
  color: var(--inavilitados-grises-texto-gris-claro, #b1b2b6);
  text-align: left;
  font-family: var(
    --body-regular-body-regular-s-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--body-regular-body-regular-s-font-size, 14px);
  line-height: var(--body-regular-body-regular-s-line-height, 130%);
  font-weight: var(--body-regular-body-regular-s-font-weight, 400);
  position: relative;
}
.text2 {
  color: var(--textos-negro-texto, #000022);
  text-align: left;
  font-family: var(
    --body-regular-body-regular-s-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--body-regular-body-regular-s-font-size, 14px);
  line-height: var(--body-regular-body-regular-s-line-height, 130%);
  font-weight: var(--body-regular-body-regular-s-font-weight, 400);
  position: relative;
}
._4 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._5 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._32 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.vertical-form-item-inputAlmacen {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.label {
  padding: 0px 0px 8px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 26px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  overflow: hidden;
}
.title {
  color: var(--textos-negro-texto, #000022);
  text-align: left;
  font-family: var(
    --body-regular-body-regular-s-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--body-regular-body-regular-s-font-size, 14px);
  line-height: var(--body-regular-body-regular-s-line-height, 130%);
  font-weight: var(--body-regular-body-regular-s-font-weight, 400);
  position: relative;
  flex: 1;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.fieldAlmacenaje {
  background: var(--fondos-fondo-blanco, #ffffff);
  border-radius: 8px;
  border-style: solid;
  border-color: var(--inavilitados-gris-stroke, #d9d9d9);
  border-width: 1px;
  align-self: stretch;
  flex-shrink: 0;
  height: 70px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.queda-un-marco-fuera-del-congelador {
  color: var(--textos-negro-texto, #000022);
  text-align: left;
  font-family: var(
    --body-regular-body-regular-xs-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--body-regular-body-regular-xs-font-size, 12px);
  line-height: var(--body-regular-body-regular-xs-line-height, 130%);
  font-weight: var(--body-regular-body-regular-xs-font-weight, 400);
  position: absolute;
  left: 13px;
  top: 12px;
}
.validado-por-cristina-p {
  color: var(--textos-texto-gris, #9d9d9d);
  text-align: left;
  font-family: var(
    --body-regular-body-regular-xs-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--body-regular-body-regular-xs-font-size, 12px);
  line-height: var(--body-regular-body-regular-xs-line-height, 130%);
  font-weight: var(--body-regular-body-regular-xs-font-weight, 400);
  position: relative;
}
.frame-427319584 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
  width: 338px;
  position: relative;
}
.bot-n {
  background: var(--fondos-fondo-blanco, #ffffff);
  border-radius: 24px;
  border-style: solid;
  border-color: var(--inavilitados-gris-stroke, #d9d9d9);
  border-width: 1px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 143px;
  height: 49px;
  position: relative;
  overflow: hidden;
}
.validar {
  color: var(--inavilitados-grises-texto-gris-claro, #b1b2b6);
  text-align: center;
  font-family: var(
    --body-semibold-body-semi-bold-l-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--body-semibold-body-semi-bold-l-font-size, 18px);
  line-height: var(--body-semibold-body-semi-bold-l-line-height, 140%);
  font-weight: var(--body-semibold-body-semi-bold-l-font-weight, 600);
  position: relative;
  width: 139px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bot-n2 {
  background: var(--textos-negro-texto, #000022);
  border-radius: 24px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 189px;
  height: 49px;
  position: relative;
  overflow: hidden;
}
.validar2 {
  color: var(--fondos-fondo-blanco, #ffffff);
  text-align: center;
  font-family: var(
    --body-semibold-body-semi-bold-l-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--body-semibold-body-semi-bold-l-font-size, 18px);
  line-height: var(--body-semibold-body-semi-bold-l-line-height, 140%);
  font-weight: var(--body-semibold-body-semi-bold-l-font-weight, 600);
  position: relative;
  width: 139px;
  display: flex;
  align-items: center;
  justify-content: center;
}
