* {
  box-sizing: border-box;
}

.zona-1 {
  background: var(--fondos-fondo-blanco, #ffffff);
  border-radius: 0px 0px 24px 24px;
  padding: 0px 36px 40px 36px;
  display: flex;
  justify-content: center;
  // row-gap: 36px;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  height: 200px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.logo-anadir {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.caja-flecha{
width: 100%;
}
.titulo-anadir-almacen{
  display: flex;
}