.botonIrAtras{
    z-index: 99;
    background-color: white !important;
}
.botonIrAtras:hover{
    background-color: color !important;
}
.back-button{
    background-color: white;
    border: 0px;
    cursor: pointer;
}