.header,
.header * {
  box-sizing: border-box;
}
.header {
  background: var(--fondos-fondo, #f5f5f5);
  padding: 0px 80px 0px 80px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 80px;
  position: relative;
}
.image-1 {
  flex-shrink: 0;
  width: 139px;
  height: 46px;
  position: relative;
  object-fit: cover;
}
.menu-item-horizontal {
  background: var(
    --components-menu-component-horizontalitemselectedbg,
    rgba(0, 0, 0, 0)
  );
  padding: 0px var(--components-menu-global-padding, 16px) 0px
    var(--components-menu-global-padding, 16px);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 64px;
  position: relative;
}
.content {
  border-style: solid;
  border-color: var(--principal, #e94f37);
  border-width: 0px 0px 2px 0px;
  padding: var(--space-padding-paddingsm, 12px) 0px
    var(--space-padding-paddingcontentvertical, 12px) 0px;
  display: flex;
  flex-direction: row;
  gap: var(--components-menu-global-marginxs, 8px);
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.navigation-item {
  color: var(--principal, #e94f37);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu-item-horizontal2 {
  padding: 0px var(--components-menu-global-padding, 16px) 0px
    var(--components-menu-global-padding, 16px);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 64px;
  position: relative;
}
.content2 {
  padding: var(--space-padding-paddingsm, 12px) 0px
    var(--space-padding-paddingcontentvertical, 12px) 0px;
  display: flex;
  flex-direction: row;
  gap: var(--components-menu-global-marginxs, 8px);
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.navigation-item2 {
  color: var(--components-menu-component-itemcolor, rgba(0, 0, 0, 0.88));
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.icon-mail-outlined {
  flex-shrink: 0;
  width: var(--components-menu-component-iconsize, 14px);
  height: var(--components-menu-component-iconsize, 14px);
  position: relative;
  overflow: visible;
}
