.logo,
.logo * {
  box-sizing: border-box;
}
.logo {
  background: var(--fondos-fondo-blanco, #ffffff);
  border-radius: 0px 0px 24px 24px;
  padding: 40px 36px 40px 36px;
  display: flex;
  flex-direction: row;
  row-gap: 36px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  height: 200px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
.vector {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-427319580 {
  margin: 0 0 0 -23px;
  padding: 32px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  position: relative;
}
.frame-427319550 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icono {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.fi-sr-broom {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.almac-n {
  color: var(--textos-negro-texto, #000022);
  text-align: left;
  font-family: var(--medium-font-family, "Inter-Medium", sans-serif);
  font-size: var(--medium-font-size, 22px);
  line-height: var(--medium-line-height, 110%);
  font-weight: var(--medium-font-weight, 500);
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-427319552 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._0012-ft {
  color: var(--textos-negro-texto, #000022);
  text-align: center;
  font-family: var(--header-header-l-font-family, "Inter-Bold", sans-serif);
  font-size: var(--header-header-l-font-size, 26px);
  line-height: var(--header-header-l-line-height, 110%);
  font-weight: var(--header-header-l-font-weight, 700);
  position: relative;
}


/* */
.restauraci-n,
.restauraci-n * {
  box-sizing: border-box;
}
.restauraci-n {
  background: var(--fondos-fondo, #f7f8fa);
  height: 844px;
  position: relative;
  overflow: hidden;
}
.homeRestauracion {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  height: 844px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0px;
}
.logoRestauracion {
  background: var(--fondos-fondo-blanco, #ffffff);
  border-radius: 0px 0px 24px 24px;
  padding: 40px 36px 40px 36px;
  display: flex;
  flex-direction: row;
  row-gap: 36px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  width: 390px;
  height: 200px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
.vector {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-427319580 {
  margin: 0 0 0 -23px;
  padding: 32px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  position: relative;
}
.frame-427319550 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icono {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.fi-sr-broom {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.almac-n {
  color: var(--textos-negro-texto, #000022);
  text-align: left;
  font-family: var(--medium-font-family, "Inter-Medium", sans-serif);
  font-size: var(--medium-font-size, 22px);
  line-height: var(--medium-line-height, 110%);
  font-weight: var(--medium-font-weight, 500);
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-427319552 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._0012-ft {
  color: #000022;
  text-align: center;
  font-family: var(--header-header-l-font-family, "Inter-Bold", sans-serif);
  font-size: var(--header-header-l-font-size, 26px);
  line-height: var(--header-header-l-line-height, 110%);
  font-weight: var(--header-header-l-font-weight, 700);
  position: relative;
}
.auto-toodo-imgs {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.auto-imgs-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 340px;
  position: relative;
}
.titulo-imgs {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 184px;
  position: relative;
}
.im-genes {
  color: var(--wireframes-grises-gris-negro, #393e41);
  text-align: left;
  font-family: var(--header-header-s-font-family, "Inter-Medium", sans-serif);
  font-size: var(--header-header-s-font-size, 18px);
  line-height: var(--header-header-s-line-height, 110%);
  font-weight: var(--header-header-s-font-weight, 500);
  position: relative;
  width: 341px;
}
.btton-select-all-default {
  background: var(--colores-etapas-restaurar, #dff37c);
  border-radius: 60px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 32px;
  position: relative;
}
.seleccionar {
  color: var(--textos-negro-texto, #000022);
  text-align: center;
  font-family: var(
    --body-semibold-body-semi-bold-xs-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--body-semibold-body-semi-bold-xs-font-size, 12px);
  line-height: var(--body-semibold-body-semi-bold-xs-line-height, 130%);
  font-weight: var(--body-semibold-body-semi-bold-xs-font-weight, 600);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardsRestauracion {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 346px;
  height: 400px;
  position: relative;
  overflow: scroll;
}
.padreBotones{
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-check-no-check {
  border-radius: 8px;
  flex-shrink: 0;
  width: 80px;
  height: 88px;
  position: relative;
}
.rectangle-118 {
  border-radius: 8px;
  width: 80px;
  height: 90px;
  position: absolute;
  left: 0px;
  top: 0.03px;
  object-fit: cover;
}
.bot-n {
  background: var(--fondos-fondo-blanco, #ffffff);
  border-radius: 24px;
  border-style: solid;
  border-color: var(--inavilitados-gris-stroke, #d9d9d9);
  border-width: 1px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 143px;
  height: 49px;
  position: absolute;
  left: 24px;
  top: 769px;
  overflow: hidden;
}
.validar {
  color: var(--wireframes-grises-texto-gris-claro, #b1b2b6);
  text-align: center;
  font-family: var(
    --body-semibold-body-semi-bold-l-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--body-semibold-body-semi-bold-l-font-size, 18px);
  line-height: var(--body-semibold-body-semi-bold-l-line-height, 140%);
  font-weight: var(--body-semibold-body-semi-bold-l-font-weight, 600);
  position: relative;
  width: 139px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bot-n2 {
  background: var(--textos-negro-texto, #000022);
  border-radius: 24px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 189px;
  height: 49px;
  position: absolute;
  left: 175px;
  top: 769px;
  overflow: hidden;
}
.validar2 {
  color: var(--blanco, #ffffff);
  text-align: center;
  font-family: var(
    --body-semibold-body-semi-bold-l-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--body-semibold-body-semi-bold-l-font-size, 18px);
  line-height: var(--body-semibold-body-semi-bold-l-line-height, 140%);
  font-weight: var(--body-semibold-body-semi-bold-l-font-weight, 600);
  position: relative;
  width: 139px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  position: fixed;
  bottom:0 ;/* Espacio para los botones */
  width: 100%;
  background: var(--textos-negro-texto, #000022);
  padding: 15px;
  color: white;
  display: flex;
  justify-content:space-around;
  align-items: center;
  z-index: 10; /* Asegura que el pop-up aparezca por encima */
 
}

.delete-button {
  background: var(--textos-negro-texto, #000022);
  border-color: #000022;
}

.image-check-no-check.selected {
  border: 2px solid #dff37c; /* Color del borde */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para resaltar */
  transform: scale(1.05); /* Aumentar tamaño ligeramente */
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Suavizar la animación */
}


