/* Figma Styles of your File */
:root {
    /* Colors */
    --colores-etapas-registrar: #ee5e37;
    --colores-etapas-master: #4558c8;
    --colores-etapas-almacen: #de9cfd;
    --colores-etapas-restaurar: #dff37c;
    --colores-etapas-digitalizar: #23967f;
    --colores-etapas-entregar: #ffb17a;
    --colores-etapas-gris-carpeta: #d8d7d7;
    --estados-rojo-error: #d55b5b;
    --estados-verde-validar: #74c174;
    --textos-negro-texto: #000022;
    --textos-texto-gris: #9d9d9d;
    --textos-texto-gris-oscuro: #555555;
    --fondos-fondo: #f7f8fa;
    --fondos-fondo-blanco: #ffffff;
    --fondos-fondo-2: #f5f5f5;
    --inavilitados-gris-bloqueado: #e5e5e6;
    --inavilitados-gris-stroke: #d9d9d9;
    --inavilitados-grises-gis-fill-bloqueado: #e8e8e8;
    --inavilitados-grises-iconos-gris-claro: #e6e6e6;
    --inavilitados-grises-iconos-gris-osc: #8c8c8c;
    --inavilitados-grises-texto-gris: #b2b2b2;
    --inavilitados-grises-gris-input: #eceef3;
    --inavilitados-grises-texto-gris-claro: #b1b2b6;
    --inavilitados-grises-gris-osc: #9d9d9d;
    --new-folder-fondo: #f5f5f5;
    --new-folder-fondo-2: #edf2ef;
    --new-folder-fondo-3: #9d9d9d;
    --new-folder-principal: #e94f37;
    --new-folder-texto: #393e41;
    --new-folder-estado-1: #3f88c5;
    --new-folder-amarillo-feedback: #ffd029;
    --new-folder-blanco-roto: #f5f5f5;
    --new-folder-gris-oscuro: #26292b;
    --new-folder-degradado: linear-gradient(
      90deg,
      rgba(30, 30, 30, 0) 0%,
      rgba(19, 21, 22, 1) 87.32812404632568%
    );
    --new-folder-negro-menu: #141515;
  
    /* Fonts */
    --display-1-font-family: Inter-Bold, sans-serif;
    --display-1-font-size: 64px;
    --display-1-line-height: 110%;
    --display-1-font-weight: 700;
    --display-1-font-style: normal;
    --display-2-font-family: Inter-Bold, sans-serif;
    --display-2-font-size: 50px;
    --display-2-line-height: 24px;
    --display-2-font-weight: 700;
    --display-2-font-style: normal;
    --h1-font-family: Inter-Bold, sans-serif;
    --h1-font-size: 60px;
    --h1-line-height: 110%;
    --h1-font-weight: 700;
    --h1-font-style: normal;
    --h3-font-family: Inter-Medium, sans-serif;
    --h3-font-size: 24px;
    --h3-line-height: normal;
    --h3-font-weight: 500;
    --h3-font-style: normal;
    --h4-font-family: Inter-SemiBold, sans-serif;
    --h4-font-size: 18px;
    --h4-line-height: 110%;
    --h4-font-weight: 600;
    --h4-font-style: normal;
    --upper-subtitulo-font-family: Inter-Bold, sans-serif;
    --upper-subtitulo-font-size: 20px;
    --upper-subtitulo-line-height: 110%;
    --upper-subtitulo-font-weight: 700;
    --upper-subtitulo-font-style: normal;
    --body-bold-font-family: Inter-Bold, sans-serif;
    --body-bold-font-size: 20px;
    --body-bold-line-height: 110%;
    --body-bold-font-weight: 700;
    --body-bold-font-style: normal;
    --body-16-font-family: Inter-Medium, sans-serif;
    --body-16-font-size: 16px;
    --body-16-line-height: normal;
    --body-16-font-weight: 500;
    --body-16-font-style: normal;
    --body-14-font-family: Inter-Regular, sans-serif;
    --body-14-font-size: 14px;
    --body-14-line-height: 24px;
    --body-14-font-weight: 400;
    --body-14-font-style: normal;
    --body-12-font-family: Inter-Regular, sans-serif;
    --body-12-font-size: 12px;
    --body-12-line-height: 140%;
    --body-12-font-weight: 400;
    --body-12-font-style: normal;
    --italic-16-font-family: Inter-Italic, sans-serif;
    --italic-16-font-size: 16px;
    --italic-16-line-height: 24px;
    --italic-16-font-weight: 400;
    --italic-16-font-style: italic;
    --titulo-sistema-de-diseno-font-family: Inter-Bold, sans-serif;
    --titulo-sistema-de-diseno-font-size: 32px;
    --titulo-sistema-de-diseno-line-height: normal;
    --titulo-sistema-de-diseno-font-weight: 700;
    --titulo-sistema-de-diseno-font-style: normal;
    --header-header-2xl-font-family: Inter-Bold, sans-serif;
    --header-header-2xl-font-size: 36px;
    --header-header-2xl-line-height: 110%;
    --header-header-2xl-font-weight: 700;
    --header-header-2xl-font-style: normal;
    --header-header-xl-font-family: Inter-Bold, sans-serif;
    --header-header-xl-font-size: 30px;
    --header-header-xl-line-height: 110%;
    --header-header-xl-font-weight: 700;
    --header-header-xl-font-style: normal;
    --header-header-l-font-family: Inter-Bold, sans-serif;
    --header-header-l-font-size: 26px;
    --header-header-l-line-height: 110%;
    --header-header-l-font-weight: 700;
    --header-header-l-font-style: normal;
    --header-header-m-font-family: Inter-Bold, sans-serif;
    --header-header-m-font-size: 22px;
    --header-header-m-line-height: 110%;
    --header-header-m-font-weight: 700;
    --header-header-m-font-style: normal;
    --header-header-s-font-family: Inter-Bold, sans-serif;
    --header-header-s-font-size: 18px;
    --header-header-s-line-height: 110%;
    --header-header-s-font-weight: 700;
    --header-header-s-font-style: normal;
    --header-header-xs-font-family: Inter-Bold, sans-serif;
    --header-header-xs-font-size: 14px;
    --header-header-xs-line-height: 110%;
    --header-header-xs-font-weight: 700;
    --header-header-xs-font-style: normal;
    --header-header-2xs-font-family: Inter-Bold, sans-serif;
    --header-header-2xs-font-size: 12px;
    --header-header-2xs-line-height: 120%;
    --header-header-2xs-font-weight: 700;
    --header-header-2xs-font-style: normal;
    --body-semibold-body-semi-bold-xl-font-family: Inter-SemiBold, sans-serif;
    --body-semibold-body-semi-bold-xl-font-size: 20px;
    --body-semibold-body-semi-bold-xl-line-height: 140%;
    --body-semibold-body-semi-bold-xl-font-weight: 600;
    --body-semibold-body-semi-bold-xl-font-style: normal;
    --body-semibold-body-semi-bold-l-font-family: Inter-SemiBold, sans-serif;
    --body-semibold-body-semi-bold-l-font-size: 18px;
    --body-semibold-body-semi-bold-l-line-height: 140%;
    --body-semibold-body-semi-bold-l-font-weight: 600;
    --body-semibold-body-semi-bold-l-font-style: normal;
    --body-semibold-body-semi-bold-m-font-family: Inter-SemiBold, sans-serif;
    --body-semibold-body-semi-bold-m-font-size: 16px;
    --body-semibold-body-semi-bold-m-line-height: 130%;
    --body-semibold-body-semi-bold-m-font-weight: 600;
    --body-semibold-body-semi-bold-m-font-style: normal;
    --body-semibold-body-semi-bold-s-font-family: Inter-SemiBold, sans-serif;
    --body-semibold-body-semi-bold-s-font-size: 14px;
    --body-semibold-body-semi-bold-s-line-height: 130%;
    --body-semibold-body-semi-bold-s-font-weight: 600;
    --body-semibold-body-semi-bold-s-font-style: normal;
    --body-semibold-body-semi-bold-xs-font-family: Inter-SemiBold, sans-serif;
    --body-semibold-body-semi-bold-xs-font-size: 12px;
    --body-semibold-body-semi-bold-xs-line-height: 130%;
    --body-semibold-body-semi-bold-xs-font-weight: 600;
    --body-semibold-body-semi-bold-xs-font-style: normal;
    --body-regular-body-regular-xl-font-family: Inter-Regular, sans-serif;
    --body-regular-body-regular-xl-font-size: 20px;
    --body-regular-body-regular-xl-line-height: 140%;
    --body-regular-body-regular-xl-font-weight: 400;
    --body-regular-body-regular-xl-font-style: normal;
    --body-regular-body-regular-l-font-family: Inter-Regular, sans-serif;
    --body-regular-body-regular-l-font-size: 18px;
    --body-regular-body-regular-l-line-height: 140%;
    --body-regular-body-regular-l-font-weight: 400;
    --body-regular-body-regular-l-font-style: normal;
    --body-regular-body-regular-m-font-family: Inter-Regular, sans-serif;
    --body-regular-body-regular-m-font-size: 16px;
    --body-regular-body-regular-m-line-height: 130%;
    --body-regular-body-regular-m-font-weight: 400;
    --body-regular-body-regular-m-font-style: normal;
    --body-regular-body-regular-s-font-family: Inter-Regular, sans-serif;
    --body-regular-body-regular-s-font-size: 14px;
    --body-regular-body-regular-s-line-height: 130%;
    --body-regular-body-regular-s-font-weight: 400;
    --body-regular-body-regular-s-font-style: normal;
    --body-regular-body-regular-xs-font-family: Inter-Regular, sans-serif;
    --body-regular-body-regular-xs-font-size: 12px;
    --body-regular-body-regular-xs-line-height: 130%;
    --body-regular-body-regular-xs-font-weight: 400;
    --body-regular-body-regular-xs-font-style: normal;
  
    /* Effects */
  }
  